.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #d7d7d7 !important;
    }
}

.slick-next {
    right: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #d7d7d7 !important;
    }
}
.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
    }

    &.section-about {
        height: 500px !important;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
    }

    .section-body {
        .section-customize {
            padding: 5px;
            cursor: pointer;
            
            .customize-border {
                border: 2px solid #d7d7d7;
                border-radius: 8px;
                overflow: hidden;
                display: flex; /* Ensures children (image and text) are side by side */
                flex-direction: column; /* Stack items vertically */
                align-items: center; /* Center items horizontally */
                padding: 10px; /* Adjust padding as needed */
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
            }
            .bg-image {
                height: 150px;
                width: 278px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-specialty {
                    background-image: url(../../assets/specialty/nho-rang.jpg);
                }

                &.section-medical-facility {
                    background-image: url(../../assets/medical-facility/nha-khoa-kim.jpg);
                }

                &.section-outstanding-doctor {
                    // background-image: url(../../assets/outstanding-doctor/bac-si-Hung.jpg);
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    background-image: url(../../assets/handbook/cam-nang1.jpg);
                }
            }
            .position {
                flex: 1; /* Take remaining space beside image */
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
            }
        
            .position > div {
                margin-bottom: 5px;
            }
        }
    }
}

.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;
}

.section-about {
    margin: 0 100px;

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
            }
        }
    }
}